* {
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue;
}

header {
    text-align: center;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Merienda', cursive;
    font-size: x-large;
    margin: 72px 0px;
    color: #43a89e;
}

/* hr {
    width: 10px;
    position: absolute;
    left: 650px;
} */
.container {
    height: 400px;
    width: 450px;
    background-color: #7fddd4;
    margin: 27px 450px;
}

.pic {
    height: 80px;
    width: 80px;
    margin: 10px 267px 7px 182px;
    border-radius: 42px;
}

.about {
    height: 200px;
    width: 99%;
    box-sizing: border-box;
    text-align: center;
}

#review {
    color: black;
    font-size: x-large;
    padding: 10px;
}

.toggle {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 0px 4px 211px;
}

.random {
    padding: 0px 0px 0px 206px;
    width: 100%;
    box-sizing: border-box;
}

#name {
    font-family: 'Caveat', cursive;
    font-size: x-large;
    font-family: 'Joan', serif;
    /* font-family: 'Pacifico', cursive; */
}