* {
    padding: 0;
    margin: 0;
}

hr {
    border-top: 1px solid aliceblue;
    width: 143px;
    position: absolute;
    right: 621px;
    bottom: 371px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
}

body {
    background-color: aliceblue;
}

header {
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: x-large;
    margin: 72px 0px;
    color: #43a89e;
}

.container {
    height: 400px;
    width: 450px;
    background-color: #7fddd4;
    margin: 27px 450px;
}

.pic {
    height: 80px;
    width: 80px;
    margin: 10px 267px 7px 182px;
    border-radius: 42px;
}

.about {
    height: 200px;
    width: 99%;
    box-sizing: border-box;
    text-align: center;
}

#review {
    color: white;
    font-size: x-large;
    padding: 21px;
}

.toggle {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 0px 4px 181px;
}

.random {
    padding: 0px 0px 0px 206px;
    width: 100%;
    box-sizing: border-box;
}

#name {
    color: #2a6660;
    font-family: 'Caveat', cursive;
    font-size: x-large;
    font-family: 'Joan', serif;
}

.pic-container {
    box-sizing: border-box;
    height: 77px;
}

#prev {
    width: 45px;
    background-color: #2c7577;
    border-radius: 14px;
    border-style: none;
    color: white;
    font-family: 'Pacifico', cursive;
}

#next {
    width: 45px;
    background-color: #2c7577;
    border-radius: 14px;
    border-style: none;
    color: white;
    font-family: 'Pacifico', cursive;
}

#random {
    width: 89px;
    background-color: #2c7577;
    border-radius: 25px;
    border-style: none;
    color: white;
    height: 32px;
    font-family: 'Pacifico', cursive;
}

.random {
    padding: 0px 0px 0px 185px;
    width: 100%;
    box-sizing: border-box;
}